.item {
    vertical-align: top;
    width: 50%;
    display: inline-block;
}
#itemCard {
    margin-left: 50px;
    margin: 0;
}
.item img {
    width: 500px;
}
#itemName {
    font-size: 120px;
    font-family: Arial, Helvetica, sans-serif;
}
.itemText {
    display: block;
}