#itemList {
    width: 33%;
    padding: 25px;
    text-align: left;
    border-radius: 13px;
    vertical-align: top;
    display: inline-block;
    background-color: #fff;
    border: solid 1px #979797;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}